.ui.footer { /* Increased specificity for SO snippet priority */
      position: fixed;
      bottom: 0;
      width: 100%;
      margin: 0% -320px;
      text-align: center;
}

/* Class for shared attribute's cells in the table list view */
.shared {
  color:blue;
}

/* Class for each shared channel for the table list view (only to show if the channel is shared between the user in the table and the signed in user) */
.channel1 { color: #6435c9; }
.channel2 { color: #6435c9; }
.channel3 { color: #6435c9; }
.channel4 { color: #6435c9; }
.channel5 { color: #6435c9; }
.channel6 { color: #6435c9; }
.channel7 { color: #6435c9; }
.channel8 { color: #6435c9; }
.channel9 { color: #6435c9; }
.channel10 { color: #6435c9; }

  .container.main{
    margin-top: 7.0em;
}
.ui.borderless.menu {
    box-shadow: none;
    flex-wrap: wrap;
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
  .ui.mobile.only.grid .ui.menu .ui.vertical.menu {
    display: none;
  }

  .sidebar {
    position: fixed;
    height: 100vh;
    background-color: #f5f5f5;
    padding-top: 68px;
    padding-left: 0;
    padding-right: 0;
  }
  .sidebar .ui.menu>a.item {
    padding: 10px 20px;
    line-height: 20px;
    color: #337ab7;
    border-radius: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
  }
  .sidebar .ui.menu>a.item.active {
    background-color: #337ab7;
    color: white;
    border: none !important;
  }
  .sidebar .ui.menu>a.item:hover {
    background-color: #eee;
    color:    #23527c;
  }

  .login-wrapper{
    width: 100%;
    height: 100vh;
  }

  .btn-wrapper{
    z-index: 100;
  }

  .btn-wrapper a{
    display: flex;
    width: 100%;
    padding: 50px;

  }

  .btn-wrapper a img{
    align-self: center;
    margin: auto;
    z-index: 100;
  }

  .login-wrapper {
    /* The image used */
    background-image: url("../images/weare.jpg");
  
    /* Full height */
    

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

  .bg::after{
    content: '';
    opacity: .7;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00438c;
    z-index: 0;
  }

  .we-are-message{
    position: absolute;
    top: 80px;
    width: 100%;
    padding: 80px;
    margin: auto;
    color: white;
    text-align: center;
  }

  .disclosure, .disclosure h5{
    text-align: center!important;
  }


  #timezone-main {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    display: flex;
    display: -webkit-flex;
    justify-content: end;
    padding-left: 35px;
    padding-right: 25px;
}

  .timezone-container {
    min-width: 105px;
    margin-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    border-right-color: #eeeeee;
    border-right-style: solid;
    border-right-width: 1px;
    transition: 0.2s border;
    margin-top: 15px;
    /* display: inline-block !important; */
}

#tz-wrapper, #nw-wrapper{
  overflow-x: auto;
  display: flex;
  display: -webkit-flex;
  justify-content: end;
  padding-left: 35px;
  padding-right: 25px;
  margin-top: 50px;
  /* white-space: nowrap; */
}

/* #tz-wrapper .timezone-container {
  display: inline-block !important;
} */

div.tz-header, span.tz-header  {
  font-size: 10px;
}

#tz-wrapper div.ui.header {
  font-size: 12px;
}

.user {
  padding: 8px;
  margin-left: 2px;
  text-align: center;
  cursor: default;
}

.user > .content {
  display: block !important;
  left:0px;
}
#tz-wrapper .ui.horizontal.list > .item.user {
  margin-left: 1em !important;
}

#tz-wrapper div.user-name {
  text-transform: capitalize !important;
  /* display: inline; */
  text-align: center;
  max-width: 50px;
  height: 28px;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  margin: auto;
  color: #999999;
}
.user-presence {
  background: #00C49B;
  border: 3px solid #ffffff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: relative;
  z-index: 2;
  left: 40px;
  top: -58px;
}

/* .ui.selection.dropdown .menu {
  overflow: visible !important;
} */

.ui.selection.dropdown {
  min-width: 14em !important;
}

div.menu.scroll {
  max-height: 20.57142857rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.ui.dropdown > .animating.menu .scrolling.menu, .ui.dropdown > .visible.menu .scrolling.menu {
  display: inline;
}

div.right.menu > div.ui.floating.dropdown.item {
  margin-left: 6px;
  margin-right: 6px;
}

/* dashboard*/
/* body{
  background: rgba(74, 144, 226, .9);
  margin: 0;
  padding-bottom: 200px;
} */

nav{
  background: #4A90E2;
  width: 100%;
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
}

.navbar{
  background: #1c3a66!important; 
}



.footer{
  background: white!important; 
}

.nav-links{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-links > a{
  color: black;
  font-family: 'Proxima Nova'!important;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  font-size: 12px;
}

.nav-logo{
  width: 130px!important;
}

h2, h3, h4, h5, p {
  font-family: 'Proxima Nova'!important;
}

h1{
  font-family: 'Proxima Nova'!important;
  color: #1c3a66;
  font-size: 40px;
}

.dashboard-wrapper{
  display: grid;
  grid-template: auto / repeat(24,1fr);
  padding-top: 180px;
  margin-bottom: 200px;
}
.dashboard-title{
  text-align: center;
  grid-column: 2/23;
}

p{
  font-size: 12px;
  font-weight: 200;
}

.slack-stats{
  grid-column: 4/21;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.stat-group{
  margin: 0 20px 0 20px;
  display: inline-flex;
  align-items: center;
}

.stat-group h3{
  font-family: 'Proxima Nova'!important;
  font-size: 30px;
  font-weight: 100;
}

.stat{
  color: rgb(49, 120, 196);
  display: flex;
}

.slack-btn{
  background: #18B87E!important;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.50)!important;
  border-radius: 4px!important;
  border: none!important;
  grid-column: 4/21;
  padding: 15px!important;
  font-family: 'Proxima Nova';
  color: white!important;
  font-weight: 500!important;
  font-size: 16px!important;
  width: 200px;
  display: flex!important;
  justify-content: center;
  margin: auto!important;
  margin-top: 20px!important;
  margin-bottom: 80px!important;
}

.slack-btn a{
  color: white;
}

.post-title{
  grid-column: 3/22;
  font-family: 'Proxima Nova'!important;
  color: rgb(49, 120, 196);
  margin-bottom: -20px;margin-top: 25px;
}

.channel-title{
  grid-column: 3/22;
  font-family: 'Proxima Nova'!important;
  color: rgb(49, 120, 196);
  margin-top: 85px;
}

.post-wrapper{
  grid-column: 3/22;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
}

.post-wrapper .card, .post-wrapper .card:first-child {
  margin-top: 30px;
  margin-bottom: 0em;
}

.channel-wrapper{
  grid-column: 3/22;
  display: inline-flex;
  justify-content: space-between;
}

.channel-table{
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.channel-table thead{
  text-align: center;
  font-size: 60%;  
}

.channel-table th{
  border: none;
}

.channel-table td{
  font-weight: 100;
  font-size: 80%;
  text-align: center;
}

.channel-table a{
  font-size: 120%;
}


.reacted-post img{
  width: 100%;
}

.profile-wrapper {
  display: grid;
 grid-template: auto/repeat(24,1fr);
  padding-bottom: 100px;
  margin-top: 100px;
}
.basic-info{
  grid-column: 3/23;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  height: auto;
  border: 1px rgba(0,0,0,.1) solid;
  border-radius: 5px;
  padding: 40px;
  position: relative;
}

.save-profile-changes{
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.availability-label{
  padding-top: 50px!important;
  margin-bottom: 10px!important;
  font-weight: bold!important;
}

.profile-email{
  margin-bottom: 20px!important;
}

.profile-form .fields, .profile-form .field{
  margin-bottom: 20px!important;
}

.availability{
  margin-top: 15px!important;
}

.profile-info-header{
  margin-top: 100px!important;
  margin-bottom: -20px!important;
}

.profile-img-wrapper{
  position: relative;
  margin-right: 40px;
}

.item p{
  margin-bottom: auto;
  display: inline;
  margin-right: 50px;
  line-height: 2;
}

.profile-img-wrapper-lg{
  grid-column: 2/24;
  margin: auto;
}

.profile-img-wrapper-lg img{
  width: 250px!important;
}

.profile-img-wrapper-lg .label{
  margin-top: 10px;
  width: 250px;
  text-align: center;
}

.meeting-wrapper, .meetings-wrapper {
  display: grid;
  /* grid-template: auto/repeat(24,1fr); */
  overflow-x: auto;
  /* display: flex; */
  /* display: -webkit-flex; */
  /* justify-content: end; */
  padding-left: 35px;
  padding-right: 25px;
  margin-top: 100px;
  padding-bottom: 100px;
}

.meetings-wrapper {
  display: block;
}

.meeting-form {
  width: 100%;
}

.ui.error.message {
  clear: right;
}

.ui.button > a.accept {
  color: #00B5AD;
}

.ui.button > a.reject {
  color: #DB2828;
}

.ui.button > a.remind{
  color: #FBBD08;
}


.edit.ui.button {
  color: #4183C4!important;
}

fieldset {
  border: 0;
}

form  h3, h4 {
  color: rgba(189, 40, 40, 0.87);
}

.meeting-form.buttons {
  float: right;
}

.invisible {
  display: None!important;
}

