body{
    margin: 0;
}
    
nav{
    background: #4A90E2;
    width: 100%;
    
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    
}

.nav-links > a{
    color: white;
    font-family: 'Proxima Nova';
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-size: 12px;
}