body{
    margin: 0;
}

p{
    margin
}

nav{
    background: #4A90E2;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,.3);
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    width: 100%;  
}

.nav-links > a{
    color: white;
    font-family: 'Proxima Nova';
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    font-size: 12px;
}

.connect-wrapper{
    display: grid;
    grid-template: auto/repeat(24,1fr);
    position: relative;
    padding-bottom: 100px;
}

.sidebar{
    grid-column: 2 / 7;
    border: 1px solid #ddd;
    margin-top: 110px;
    border-radius: 6px;
    padding: 20px;
    padding-top: 30px;
    height: 350px;
}

.card-wrapper{
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-template-rows: auto;
    grid-gap: 25px;
    grid-column: 8/23;
    margin-top: 100px !important;
}

.view-controller{
    position: absolute;
    top: 50px;
    right: 20px;
    
}

.view-controller .button{
    font-size: 12px !important;
}

.view-controller .button{
    color: white !important;
    background: red !important;
}

.card{
    background: white;
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 4px;
}

.card .image{
    width: 100%;
    align-self: center;
}

.list-table{
    grid-column: 3 / 23;
    margin-top: 50px;
}

.filters form{
    display: flex;
    flex-direction: column;
}

.filters p{
    margin-bottom: auto;
    font-size: 80%;
    opacity: .5;
}

.filters form div{
    margin-top: 15px;
}

.ui.checkbox label, .checkbox .circular.label{
    display: inline-block;
}

.checkbox .circular.label{
    margin-right: 10px;
}

.basic-info p{
    margin: 0;
}

@media only screen and (max-width: 810px){
    .sidebar{
    grid-column: 3 / 23;
    border: 1px solid #ddd;
    margin-top: 110px;
    border-radius: 6px;
    padding: 20px;
    padding-top: 30px;
    height: auto;
}
    
    .filters form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5px
}
    .filters form div{
    margin-left: 25px;
}


.card-wrapper{
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-template-rows: auto;
    grid-gap: 25px;
    grid-column: 3/23;
    margin-top: 50px !important;
}

    
}